body{
  font-family: cursive;
  display:flex; 
  text-align: center;
  justify-content: center;
  min-height: 100vh;
}
.container{
  padding: 10%;
  min-height: 80%;
  margin: 10% 0 0 0;
  border: 1px solid #dc79d521;
  border-width: 20%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
  background: rgba(231, 133, 215, 0.082);
  border-radius: 10%;
  box-shadow: 10px 10px 1220px 0px rgba(174, 108, 181, 0.434);
}

.img{
  width: 40%;
  border: 2px solid black;
  border-radius:50%;
  box-shadow: 0px 0px  10px 10px rgba(174, 108, 181, 0.434); 
}
.img:hover{
 box-shadow: 0px 0px  10px 10px rgba(214, 102, 227, 0.434);
 transition: 1;
}


button{
  border-style: none;
  background-color: rgba(147, 44, 244, 0.612);
  width: 30%;
  padding: 10px;
  text-decoration: solid ;
  font-size: medium;
  color: rgb(254, 253, 255);
  border-radius: 10vh;
 border:  1px solid black ;
}
button:hover{
  background-color: blueviolet;
  cursor: pointer;
  width: 30.7%;

}
svg:hover{
  width:40px;
  cursor: pointer;
}
.name{
  font-family: "Times New Roman", Times, serif;
  font-size:4dvh
}
.desig{
  font-family: Arial, Helvetica, sans-serif;

}
@media (max-width: 600px) {
  .container {
    width: 50%;
    padding: 8%;
  }

  .img {
    width: 120px;
  }

  button {
    width: 90%;
    padding: 12px;
  }
}
@media (min-width: 600px) {
  .container {
    width: 33%;
    padding: 5%;
  }

  .img {
    width: 120px;
  }

  button {
    width: 90%;
    padding: 12px;
  }
  .img:hover{
    box-shadow: 0px 0px  10px 10px rgba(214, 102, 227, 0.434);
    
   }
}
